name: Java CI

on: [ push ]

jobs:
  build:
    runs-on: macos-latest
    env:
      DEFAULT-PATH: /Users/runner/work
    steps:
      - uses: actions/checkout@v2
      - name: list directory
        run: pwd
      - name: init directory
        run: mkdir -p /Users/runner/work/data/mmap;mkdir -p /Users/runner/work/data/filechannel;
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn clean install
      - name: Run Tests with Code Coverage
        run: mvn test jacoco:report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Codacy Coverage Reporter
        # You may pin to the exact commit or the version.
        # uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
